@use '../themes/theme.scss' as *;



.light {
  .text {
    color: $primary-color;
  }
  .background {
    background-color: $light_background;
    min-height: 100vh;
    // min-width: 100vh;
  }
  
}

.dark {
  .text {
    color: $secondary-color;
  }
  .background {
    background-color: $dark_background;
    min-height: 100vh;
    // min-width: 100vh;
  }
 
}

