@use '../themes/theme.scss' as *;

%animation{
  animation: fadeIn 5s;
}

%min-height{
  min-height: 100vh;
}


.light {
  .text {
    color: $primary-color;
  }
  .background {
    @extend %animation;
    @extend %min-height;
    background-color: $light_background;
  }
}

.dark {
  .text {
    color: $secondary-color;
  }
  .background {
    background-color: $dark_background;
    @extend %animation;
    @extend %min-height;
  }
}

.row {
  display: flex;
  padding: 30px;
  &.align-center {
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    font-size: 55px;
  }
}

.paragraph-padding {
  padding: 10px 30px 10px 30px;
}

.float-right {
  float: right;
}

.flat-button {
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid $dark-200;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}


p {
  font-size: 22px;
  @extend %animation;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1600px) {
  .align-center {
    flex-direction: column;
  }
}


@media (max-width: 1050px) {
  .paragraph-padding {
    padding-top: 25%;
  }
}
