@use '../themes/theme.scss' as *;

%animation{
  animation: fadeIn 5s;
}

%min-height{
  min-height: 100vh;
}


.light {
  .text {
    color: $primary-color;
  }
  .background {
    @extend %animation;
    @extend %min-height;
    background-color: $light_background;
  }
}

.dark {
  .text {
    color: $secondary-color;
  }
  .background {
    background-color: $dark_background;
    @extend %animation;
    @extend %min-height;
  }
}

.row {
  display: flex;
  padding: 30px;
  &.align-center {
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    font-size: 55px;
  }
}

.paragraph-padding {
  padding: 10px 30px 10px 30px;
}


p {
  font-size: 20px;
  @extend %animation;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1600px) {
  .align-center {
    flex-direction: column;
  }
}
