@use '../../assets/styles/themes/theme.scss' as *;

.align-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  .image-animation {
    animation: fadeIn 7s;
    .main-pic {
      border-radius: 25px;
      padding: 20px;
      width: 300px;
      height: 400px;
    }
  }

  .paragraph {
    font-size: 22px;
  }
}
.padding-top-ten {
  padding: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .align-center {
    flex-direction: column;
  }
}
