@use '../../assets/styles/themes/theme.scss' as *;

.light {
  .locked {
    height: 2rem;
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $light_background;
    border-bottom: 1px solid $blue-400;
    box-shadow: 0 2px 5px -1px $blue-400;
  }
  .icon {
    font-size: 16px;
    color: $primary-color;
  }
}

.dark {
  .locked {
    height: 2rem;
    width: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $dark_background;
    border-bottom: 1px solid $red-400;
    box-shadow: 0 2px 5px -1px $red-400;
  }
  .icon {
    font-size: 16px;
    color: $secondary-color;
  }
}
