$white: #ededed;
$black: #000000;

$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;

$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;

$dark-000: #C9C9C9;
$dark-100: #b8b8b8;
$dark-200: #828282;
$dark-300: #696969;
$dark-400: #424242;
$dark-500: #3b3b3b;
$dark-600: #2e2e2e;
$dark-700: #242424;
$dark-800: #1f1f1f;
$dark-900: #141414;

$primary-color: $blue-800;
$secondary-color: $red-800;

$light_background: $white;
$dark_background: $dark-900;

$danger_background: $red-400;
$danger_primary: $red-700;