@use '../../assets/styles/themes/theme.scss' as *;


.slider-container {
    width: 60%;
    .url {
        text-decoration: none;
    }
    .img-spacing {
        padding: 0px 4px 0px 4px;
    
    }
}
