@use '../../../assets/styles/themes/theme.scss' as *;

.container {
  display: grid;
  grid-template-areas:
    '. title .'
    '. game controls';
  grid-template-columns: repeat(3, 1fr);
  h1 {
    text-align: center;
    grid-area: title;
  }

  .board {
    border: 2px solid $dark-900;
    user-select: none;
    margin: auto;
    grid-area: game;
  }

  .controls {
    grid-area: controls;

    .upcoming {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}




.line {
  display: flex;
  .cell {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid $dark-900;
    &.hidden {
      visibility: hidden;
    }
    &.Empty {
      background-color: $dark-100;
    }

    &.I {
      background-color: rgb(80, 227, 230);
    }

    &.J {
      background-color: rgb(36, 95, 223);
    }

    &.L {
      background-color: rgb(223, 173, 36);
    }

    &.O {
      background-color: rgb(223, 217, 36);
    }

    &.S {
      background-color: rgb(48, 211, 56);
    }

    &.T {
      background-color: rgb(132, 61, 198);
    }

    &.Z {
      background-color: rgb(227, 78, 78);
    }
  }
}
